.tiledBackground {
    background-image: url(download2.jpg);
    background-size: cover;
    width: 35.5cm;
    height: 17.5cm;
    
  }
  .bg-img {
    /* The image used */
    background-image: url("bg4.png");
  
    min-height: 680px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;

  }
  
  .dropbtn {
    background-color: #2d82e2;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
  }

.navbar {
    border-radius: 30px;
    background-color: rgb(228, 230, 250);
    width: 30cm;
    align-items: center;
    position:absolute; left:50px; top:500px;
    }

.navbar ul{ /* to put the navbar links in center*/
    margin: 5px auto;
    padding: 0;
    
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}
.text-center{
  font-weight: bold;
}
.nobold{
text-align: center;
}
.row{
  
  position:relative; left:10px; top: 50px;
  color: rgb(119, 119, 255);
  font-size: 10cm;
  letter-spacing: -0.05rem;
  
}
.my-button {
  display: inline-block;
  margin: 5px; /* space between buttons */
  background: rgb(228, 230, 250); /* background color */
  color: #333; /* text color */
  font-size: 1em;
  font-weight: bold;
  border-radius: 10px; /* rounded corners */
  padding: 8px 30px; /* space around text */
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position:relative; left:300px; top: 80px;
}
.my-button:hover {
  background: #666;
  color: #c1e1e0;
}
.card{
  margin-top: -3cm;
}
.back{
  position:relative; left:700px; top: -10cm;
}
.news{
  font-family:'Times New Roman';
}
.card1{
  position:relative; left:-10px; top: 1cm;
  background-color: white;
}
.card2{
  position:relative; left:400px; top: -21.2cm;
  background-color: white;
}
.card3{
  position:relative; left:830px; top: -37cm;
  background-color: white;
}
.card-title{
  color: rgb(59, 99, 134);
}
.section2{
  background-color: #ecf3fa;
}
.text-right1{
  position:relative; left:600px; top: -4cm;
}
.img2{
  position:relative; left:600px; top: -1cm;
}
.text-right2{
  position:relative; left:30px; top: -4cm;
}
.text-right3{
  position:relative; left:600px; top: -4cm;
}
.img4{
  position:relative; left:600px; top: -1cm;
}
.text-right4{
  position:relative; left:30px; top: -4cm;
}
@media only screen and (max-width: 600px) {
  .navbar{
    width: 13cm;
    height: 5cm;
    align-items: center;
  }
  .tiledBackground{
    width: 14.1cm;
    height: 30cm;
  }
  .row{
    position:relative; left:20px; top: 250px;

  }
  .my-button {
    display: inline-block;
    margin: 5px; /* space between buttons */
    background: #fffdfd; /* background color */
    color: #333; /* text color */
    font-size: 1em;
    font-weight: bold;
    border-radius: 10px; /* rounded corners */
    padding: 8px 30px; /* space around text */
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    position:relative; left:250px; top: 60px;
  }
}


.column {
  float: left;
  width: 20%;
  font-size: 15px;
  color: #3d526b;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}